.c-scrollbar {
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center right;
    transition: transform .3s,opacity .3s;
    width: 11px;
}
body, html, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  #root {
    position: relative;
  }